<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UniTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UniTable.Properties.Settings>
            <setting name="CommuteTime" serializeAs="String">
                <value>00:50:00</value>
            </setting>
            <setting name="FarePeak" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FareOffPeak" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="CommuteUniToBusTime" serializeAs="String">
                <value>00:07:00</value>
            </setting>
            <setting name="LastFileName" serializeAs="String">
                <value />
            </setting>
        </UniTable.Properties.Settings>
    </userSettings>
</configuration>